#groq api key
GROQ_API_KEY="YOUR_GROQ_API_KEY"

#Twilio Credentials
TWILIO_ACCOUNT_SID_KEY="YOUR_TWILIO_ACCOUNT_SID_KEY"
TWILIO_AUTH_TOKEN_KEY="YOUR_TWILIO_AUTH_TOKEN_KEY"
TWILIO_WHATSAPP_NUMBER_KEY="YOUR_TWILIO_WHATSAPP_NUMBER_KEY"

#Redis URL
REDIS_URL="redis://localhost:6379"

#Database File
DATABASE_URL="postgresql://user:password@localhost:5432/yourdbname"
